.skin-blue .main-header{
  background-color: #ba1e2b;
}

/* header*/
.skin-blue .main-header .logo,
.skin-blue .main-header .logo:hover{
  background-color: #ba1e2b;
  color: white;
  font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 500;
}

.skin-blue .main-header .navbar{
  background-color: #ba1e2b;
  color: white;
}

/* menu */
.skin-blue .main-header .navbar .sidebar-toggle,
.skin-blue .main-header .navbar .sidebar-toggle:hover{
  background-color: #ba1e2b;
  color: white;
}

/* sidebar */
.skin-blue .main-sidebar{
  /*background-color: #2d373c;*/
  background-color:#e4f1fa;
  color: #2d373c;
}

.skin-blue .main-sidebar .sidebar .sidebar-menu{
    color: #2d373c;
}

.skin-blue .sidebar a{
  color: #2d373c;
}

/* sidebar hover */
.skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{
  background-color: white;
  color: black;
}

/* sidebar menu items active and hover */
.skin-blue .sidebar-menu {
  color: #2d373c;
}

/* sidebar menu items active and hover */
.skin-blue .sidebar-menu > li.active > a,
.skin-blue .sidebar-menu > li:hover > a{
  border-left-color: #ba1e2b;
  background-color: white;
  color: #ba1e2b;
}

/* slidebar */
.skin-blue .irs-bar,
.skin-blue .irs-bar-edge{
}

.skin-blue .content-wrapper{
  background-color: white;
}

.skin-blue .content-wrapper .content{
  padding-top: 20px;
}
